In [24]:
from pandas import Series, DataFrame
import pandas as pd

In [25]:
align1=pd.read_csv(r"Assignment 3\Data\employee_compensation.csv",sep=",", skiprows=(1,1))

In [26]:
align2=DataFrame(align1.groupby(["Organization Group", "Department"])['Total Compensation'].mean())

In [28]:
align2=align2.sort_values('Total Compensation', ascending=False).sort_index(level=0, sort_remaining=False)
align2.to_csv('FinalCompensations.csv', sep=',', encoding='utf-8')
align2.head()

                                          Total Compensation
Organization Group   Department
Community Health     Public Health              96190.190140
Culture & Recreation Law Library               188424.362222
                     Academy of Sciences       107319.727692
                     Arts Commission            94339.597388
                     War Memorial               76250.068022