In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv(r"Assignment 3\Data\employee_compensation.csv")

In [4]:
calendar_data=DataFrame(data,columns=['Year Type','Employee Identifier','Salaries','Overtime','Other Salaries','Total Salary','Total Benefits','Total Compensation'])
calendar_data=calendar_data[calendar_data['Year Type']=='Calendar']
calendar_data=calendar_data.groupby(by=['Employee Identifier']).mean()

In [5]:

calendar_data['Five Percent Salary']=calendar_data['Salaries']*0.05
calendar_data['Is OverTime More']=np.where(calendar_data['Overtime']>calendar_data['Five Percent Salary'],'YES','NO')
calendar_data=calendar_data[calendar_data['Is OverTime More']=='YES']

In [6]:

employee_data = DataFrame(calendar_data.index.get_level_values('Employee Identifier'))

In [7]:
job_family_data = employee_data.merge(data, on = 'Employee Identifier')['Job Family'].unique()
jf = data[data['Job Family'].isin(job_family_data)]
jf = jf.groupby('Job Family')['Total Benefits', 'Total Compensation'].mean()

In [9]:
jf['Percent_Total_Benefit'] = jf['Total Benefits'] * 100 / jf['Total Compensation']
jf=jf.sort_values(by='Percent_Total_Benefit', ascending=False).head(n=5)

jf.head()

,Total Benefits,Total Compensation,Percent_Total_Benefit
Job Family,,,
Public Service Aide,5087.142130,14450.325272,35.204343
Housekeeping & Laundry,23787.827171,72612.204294,32.760095
Park & Zoo,17359.449541,53001.043501,32.753034
"Clerical, Secretarial & Steno",21394.905197,66009.821043,32.411700
Dietary & Food,19300.787905,60295.256688,32.010458