In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame as df

In [3]:
vehicle_collisions=pd.read_csv(r"Assignment 3\Data\vehicle_collisions.csv")

In [4]:

vehicle_collisions['DATE']=pd.to_datetime(vehicle_collisions['DATE'])  
month_year_range=vehicle_collisions[vehicle_collisions['DATE'].isin(pd.date_range("01/01/16","12/31/16"))]

In [11]:

month_year_range['YEAR']=month_year_range['DATE'].dt.strftime('%Y/%b/%d').str.slice(0,4)
month_year_range['MONTH']=month_year_range['DATE'].dt.strftime('%Y/%b/%d').str.slice(5,8)

C:\Users\nanda\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\nanda\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [6]:
manhattan_data=month_year_range[month_year_range.BOROUGH=='MANHATTAN']
manhattan_count=manhattan_data['BOROUGH'].value_counts().reset_index(drop=True)
manhattan_df=pd.DataFrame(manhattan_data.groupby(['MONTH'],sort=False).size().reset_index())
manhattan_df.columns=['MONTH','MANHATTAN_ACCIDENT_COUNT']
manhattan_df

   MONTH  MANHATTAN_ACCIDENT_COUNT
0    Jan                      3178
1    Feb                      3195
2    Mar                      3479
3    Apr                      3540
4    May                      3432
5    Jun                      2956
6    Jul                      3055
7    Aug                      2844
8    Sep                      2744
9    Oct                      2831
10   Nov                      2838
11   Dec                      2634

In [7]:
count_nyc=month_year_range['BOROUGH'].value_counts().reset_index(drop=True)
nyc_accident_count=pd.DataFrame(month_year_range.groupby(['MONTH'],sort=False).size().reset_index())
nyc_accident_count.columns=['MONTH','NYC_ACCIDENT_COUNT']
nyc_accident_count

   MONTH  NYC_ACCIDENT_COUNT
0    Jan               18101
1    Feb               15985
2    Mar               18471
3    Apr               18331
4    May               20052
5    Jun               19433
6    Jul               19867
7    Aug               19678
8    Sep               19492
9    Oct               19666
10   Nov               19315
11   Dec               19214

In [8]:
main_frame=pd.merge(manhattan_df,nyc_accident_count)
#frame
main_frame['PERCENTAGE']=(main_frame['MANHATTAN_ACCIDENT_COUNT']/main_frame['NYC_ACCIDENT_COUNT'])*100
main_frame

   MONTH  MANHATTAN_ACCIDENT_COUNT  NYC_ACCIDENT_COUNT  PERCENTAGE
0    Jan                      3178               18101   17.557041
1    Feb                      3195               15985   19.987488
2    Mar                      3479               18471   18.834930
3    Apr                      3540               18331   19.311549
4    May                      3432               20052   17.115500
5    Jun                      2956               19433   15.211239
6    Jul                      3055               19867   15.377259
7    Aug                      2844               19678   14.452688
8    Sep                      2744               19492   14.077570
9    Oct                      2831               19666   14.395403
10   Nov                      2838               19315   14.693244
11   Dec                      2634               19214   13.708754

In [10]:
main_frame.to_csv(r'Assignment 3\Data\accident_count.csv',index=False)